<footer
  class="w-full bg-secondary text-white p-8 flex flex-col-reverse justify-between items-center md:flex-row"
>
  <p
    class="font-bold text-sm text-center mt-4 md:text-base md:text-start md:mt-0"
  >
    Copyright &copy; 2024 - All right reserved
  </p>
  <ul class="inline-flex gap-4">
    <li>
      <a target="_blank" href="https://instagram.com"
        ><i class="text-3xl fa-brands fa-instagram"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://linkedin.com"
        ><i class="text-3xl fa-brands fa-linkedin"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://youtube.com"
        ><i class="text-3xl fa-brands fa-youtube"></i
      ></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/muhafiq"
        ><i class="text-3xl fa-brands fa-github"></i
      ></a>
    </li>
  </ul>
</footer>
