<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found!</title>
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <main class="min-h-screen flex justify-center items-center p-8 bg-white">
      <div class="flex flex-col items-center gap-4 text-center">
        <img class="max-w-sm" src="/images/404.svg" alt="not found image" />
        <h1 class="text-3xl font-bold">Page not found!</h1>
        <p>
          If you have note in this link, maybe it's already deleted by system.
        </p>
        <a
          href="/"
          class="mt-8 py-4 px-8 rounded-full bg-primary text-white font-bold shadow-md hover:bg-accent duration-150"
          >Back to HomePage</a
        >
      </div>
    </main>
  </body>
</html>
