<main class="min-h-screen">
  <div class="min-h-screen flex items-center justify-center p-4">
    <div
      class="max-w-4xl w-full bg-base-100 p-8 rounded-lg shadow-lg bg-gray-200"
    >
      <h1 class="text-4xl font-bold mb-4">About Share notes</h1>
      <p class="mb-4">
        Welcome to the Note Sharing App! Our platform allows you to create,
        share, and manage your notes efficiently. Here’s a little bit about our
        application:
      </p>

      <div class="mb-4">
        <h2 class="text-2xl font-semibold">Features</h2>
        <ul class="list-disc list-inside ml-4">
          <li>Create and edit notes with ease.</li>
          <li>Share notes securely with others.</li>
          <li>Set expiration dates for your notes.</li>
          <li>Update and delete notes with password protection.</li>
        </ul>
      </div>

      <div class="mb-4">
        <h2 class="text-2xl font-semibold">Our Mission</h2>
        <p>
          Our mission is to provide a simple and secure platform for sharing
          notes. We aim to help users keep their notes organized and accessible
          from anywhere, while ensuring that their data is protected.
        </p>
      </div>

      <div class="mb-4">
        <h2 class="text-2xl font-semibold">Contact Us</h2>
        <p>
          If you have any questions or feedback, feel free to reach out to us:
        </p>
        <ul class="list-disc list-inside ml-4">
          <li>Email: muhafiq18@gmail.com</li>
          <li>Instagram: @muhafiqq_</li>
        </ul>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Thank You</h2>
        <p>
          Thank you for using Note Sharing App. We hope it makes your
          note-sharing experience seamless and secure.
        </p>
      </div>
    </div>
  </div>
</main>
